.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #7433f1;
  border-color: #7433f1;
}
html,
body {
  height: 100%;
}
.header {
  background-color: #7433f1;
  color: white;
  height: 100px;
  padding-top: 2%;
}

.right-column {
  background-color: #f3ecfe;
  padding-left: 3%;
  padding-left: 3%;
  height: 100vh;
}

.left-column {
  padding: 3%;
}
